[submodule "external/coqdocjs"]
	path = external/coqdocjs
	url = https://github.com/tebbi/coqdocjs.git
[submodule "external/smpl"]
	path = external/smpl
	url = https://github.com/sigurdschneider/smpl.git
