// Temporal files
\#*#
*~
*.tmp
*.sw*

// Coq Files
CoqMakefile.conf
*.vo
*.vok
*.vos
*.glob
*.aux
*.d
Makefile.coq
.lia.cache

// TeX files
*.fls
*.log
*.out
*.pdf
*.thm
*.fdb_latexmk
*.toc
*.nav
*.snm
*.ilg
*.vrg
*.pyg
*/auto
*/*/auto
*.bbl
*.blg
*.glo
*.ist
*.tdo
*.synctex.gz

// TODO files
TODO
